<li *ngIf="addListCars.length>0" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Araba Listeniz
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngFor="let car of addListCars"><a class="dropdown-item"><span class="badge bg-secondary">{{car.quantity}}</span>{{car.car.carName}}<span (click)="removeFromList(car.car)" class="badge bg-secondary">Sil</span></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item">Eklediğiniz arabaların listesini görüntüle</a></li>
  </ul>
</li>
